.breadcrumbs {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  &__text {
    @include title(14, 20);
    &--link {
      transition: all .3s ease;
      &:hover {
        color: #868e96;
      }
    }
  }
}